.c-app {
  /* transition: all 0.3s ease-in-out; */
  font-family: var(--fontFamily);
  &.-show-menu {
    @media (--below-md) {
      background: #efefef;
    }
  }
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
body {
  margin: 0;
  padding: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
