.c-app {
  /* transition: all 0.3s ease-in-out; */
  font-family: var(--fontFamily);
  &.-show-menu {
    @media (--below-md) {
      background: #efefef;
    }
  }
}
body {
  margin: 0;
  padding: 0;
}
