.c-cookie {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  background: #f8fcfa 0% 0% no-repeat padding-box;
  width: 100%;
  left: 0;
  font-size: 14px;
  align-items: stretch;
  &-info {
    color: #707070;
    padding: 7px 18px;
    flex-basis: 87%;
  }
  &-accept {
    cursor: pointer;
    background-color: var(--color-green);
    color: #fff;
    span {
      padding: 5px 15px;
    }
    display: flex;
    align-items: center;
  }
}
