.c-header {
  display: flex;
  justify-content: space-between;
  @media (--below-lg) {
    flex-direction: column;
    align-items: center;
  }
  &-logo {
    display: flex;
    img:first-of-type {
      .-show-calculate & {
        @media (--below-lg) {
          display: none;
        }
      }
      width: 183px;
      flex-shrink: 0;
      height: 59px;
      margin: 20px 0 15px 28px;
      @media (--below-lg) {
        width: 127px;
        margin-top: 13px;
        margin-bottom: 10px;
      }
    }
    img:last-of-type {
      display: none;
      cursor: pointer;
      position: absolute;
      right: 23px;
      top: 17px;
      @media (--below-lg) {
        display: block;
      }
    }
  }
  &-info {
    .-show-calculate & {
      @media (--below-lg) {
        display: none;
      }
    }
    .-show-menu & {
      @media (--below-lg) {
        display: none;
      }
    }
    margin: 28px 19px 7px;
    text-align: right;
    @media (--below-lg) {
      margin-top: 0;
    }
    &-first-line {
      font-size: 18px;
      font-weight: bold;
      span:nth-child(even) {
        color: var(--color-green);
      }
      @media (--below-lg) {
        display: none;
      }
    }
    &-second-line {
      @media (--below-lg) {
        display: 8px;
        text-align: center;
      }
      br {
        display: none;
        @media (--below-lg) {
          display: block;
        }
      }
      font-size: 13px;
      font-weight: 400;
      color: #707070;
    }
  }
}
