.c-header {
  display: flex;
  justify-content: space-between;
  &-logo {
    width: 183px;
    flex-shrink: 0;
    height: 59px;
    background: transparent url('/assets/images/logo.webp');
    background-size: cover;
    margin: 20px 0 15px 28px;
  }
  &-info {
    margin: 28px 19px 7px;
    text-align: right;
    &-first-line {
      font-size: 18px;
      font-family: var(--fontFamily);
      font-weight: bold;
      span:nth-child(even) {
        color: var(--color-green);
      }
    }
    &-second-line {
      font-size: 13px;
      font-family: var(--fontFamily);
      font-weight: 400;
      color: #707070;
    }
  }
}
