.c-loan {
  &-no-nav {
    margin-top: 10px;
    text-align: center;
  }
  .-show-calculate & {
    @media (--below-md) {
      display: none;
    }
  }
  &-title {
    font-size: 15px;
    font-weight: bold;
  }
  &-others {
    font-size: 15px;
    font-weight: bold;
  }
  &-items {
    margin-top: 7px;
    &-item {
      &:last-of-type {
        margin-bottom: 11px;
      }
      &:first-of-type {
        margin-top: 15px;
      }
      margin-bottom: 6px;
      cursor: pointer;
      align-items: center;
      height: 50px;
      background: #fdfdfd 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 20px #04228e1a;
      transition: all 0.1s linear;
      &:hover {
        box-shadow: 0px 3px 20px rgba(4, 34, 143, 0.2);
      }
      border-radius: 26px;
      display: flex;
      &-pic {
        height: 100%;
        display: flex;
        justify-content: center;
        @media (--below-md) {
          width: 19.8%;
        }
      }
      &-taeg {
        display: flex;
        align-items: center;
        font-size: 10px;
        text-align: center;
        padding-right: 21px;
        width: 9%;
        @media (--below-md) {
          display: none;
        }
      }
      &-example {
        display: flex;
        align-items: center;
        padding-right: 47px;
        width: 44%;
        color: #707070;
        font-family: 'Helvetica Neue';
        font-size: 12px;
        height: 50px;
        overflow: scroll;
        span {
          max-height: 100%;
        }
        @media (--below-md) {
          width: 49.8%;
          padding-right: 27px;
        }
      }
      &-options {
        svg:first-of-type {
          margin-bottom: 9px;
        }
        display: flex;
        flex-direction: column;
        width: 1%;
        color: var(--color-green);
        padding-right: 15px;
        @media (--below-md) {
          display: none;
        }
      }
      &-data-options {
        > * {
          height: 15px;
          text-overflow: ellipsis;
          max-width: 100%;
          display: inline-block;
          white-space: nowrap;
          cursor: pointer;
          overflow: hidden;
        }
        span:nth-child(even) {
          color: var(--color-green);
        }
        &-amount {
          margin-bottom: 9px;
        }
        @media (--below-md) {
          display: none;
        }
        font-size: 13px;
        font-weight: bold;
        flex-direction: column;
        display: flex;
        padding-right: 16px;
        width: 27%;
      }
      &-simulate {
        @media (--below-md) {
          flex: 1 1 0;
          width: 20.5%;
          font-size: 12px;
        }
        text-transform: uppercase;
        font-family: Roboto;
        font-size: 16px;
        color: white;
        background: var(--color-green);
        border-bottom-right-radius: 26px;
        border-top-right-radius: 26px;
        height: 100%;
        width: 14%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: inherit;
      }
    }
  }
}
