.c-content {
  background: url('/assets/images/home-left.webp') no-repeat scroll 0% 100%;
  background-size: 30%;
  padding: 25px 83px;
  @media (--below-md) {
    padding: 25px 13px;
  }
  .-show-menu & {
    @media (--below-md) {
      display: none;
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
