.c-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .-show-calculate & {
    @media (--below-md) {
      flex-direction: column;
      > * {
        margin-top: 50px;
      }
    }
  }
  &-show-calculate {
    cursor: pointer;
    display: none;
    .-show-calculate & {
      @media (--below-md) {
        cursor: inherit;
        height: 78px;
      }
    }
    @media (--below-md) {
      margin-left: 24px;
      display: block;
      height: 36px;
    }
  }
  &-logo-right {
    display: none;
    width: 25px;
    height: 156px;
    align-self: flex-end;
    .-show-calculate & {
      @media (--below-md) {
        display: block;
      }
    }
  }
}
