.c-slider {
  display: flex;
  flex-direction: column;
  &-title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 7px;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
  }
  input {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background: #d3d3d3;
    outline: none;
    border-radius: 2px;
    &::-moz-range-progress {
      background: var(--color-green);
    }
    &::-moz-range-thumb {
      width: 13px;
      height: 13px;
      background: var(--color-green);
      cursor: pointer;
      border: none;
    }
    &::-webkit-slider-thumb {
      width: 13px;
      height: 13px;
      background: var(--color-green);
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      border: none;
    }
  }
}
